@font-face {
    font-family: 'Open Sans';
    src: local('☺'), local('Open Sans'), local('OpenSans');
    src: url('../fonts/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-regular-webfont.woff') format('woff'), url('../fonts/opensans-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Light';
    src: local('☺'), local('Open Sans Light'), local('OpenSans-Light');
    src: url('../fonts/opensans-light-webfont.eot');
    src: url('../fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-light-webfont.woff') format('woff'), url('../fonts/opensans-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #e5f4ff;
    font-family: 'Open Sans', 'sans-serif';
    font-size: 14px;
}

#header {
    background-color: black;
    padding: 0px;
    font-size: 16px;
}

#header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#header li {
    display: inline-block;
    padding: 7px 30px;
    cursor: pointer;
    vertical-align: middle;
}

#header li:hover {
    background-color: #434343;
}

#header a {
    color: white;
    text-decoration: none;
    font-family: 'Open Sans Light', 'sans-serif';
    text-transform: uppercase;
    font-size: 16px;
}

#main {
    padding: 20px 0px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}

#topmenu {
    display: inline-block;
}

#lang {
    display: inline-block;
    float: right;
    margin-right: 10px;
    font-size: 0.8em;
}

#accountMenu {
    display: inline-block;
    float: right;
    margin-right: 40px;
}

#username_accountMenu {
    font-weight: 700;
}

#logout_accountMenu {
    margin-left: 14px;
}

#headerTitle {
    background-image: url('../images/header.jpg');
    background-position: 20% -50px;
    height: 70px;
    font-size: 50px;
    color: white;
    text-shadow: 4px 4px 3px black;
    line-height: 65px;
    padding-left: 10px;
    text-align: center;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    border: 1px solid #dedede;
}

table thead {
    background-color: palegreen;
    font-weight: 700;
    text-align: left;
}

table tbody {
    background-color: white;
}

table tr {
    padding: 5px 0px;
}

table tbody tr:hover {
    background-color: #F4F4F4;
}

table td, table th {
    padding: 8px 4px;
    border-bottom: 1px solid #dedede;
}

.formDiv {
    background-color: #eeeeee;
    border: 1px solid #dedede;
    padding: 20px;
    width: 250px;
}

.formDiv label {
    font-weight: 700;
}

.formDiv input {
    font-weight: 700;
}

input[type=submit].button {
    height: 30px;
    padding: 5px 6px;
}

.button {
    display: inline-block;
    background-color: #545cfe;
    border: 1px solid #000000;
    color: #FFFFFF;
    width: 110px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

.button:hover {
    background-color: #6d73fe;
}

.disabledButton {
    background-color: #cccccc !important;
}

.errorMessage {
    color: red;
    font-weight: 700;
}

#newsNavigator {
    width: 600px;
}

.newsNavigatorButton {
    display: inline-block;
    border: 1px solid #000000;
    width: 170px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    background-color: white;
    color: black;
}

.newsNavigatorButton:hover {
    background-color: #F4F4F4;
}

#noBotsFound {
    text-align: center;
}

.codeWrapper {
    max-width: 1000px;
}

.icon {
    width: 28px;
    height: 28px;
    display: inline-block;
}

.deleteIcon {
    background-image: url("../images/icons.png");
    background-position: 0 0;
}

.editIcon {
    background-image: url("../images/icons.png");
    background-position: -30px 0;
}

.messageBox {
    display: block;
    position: fixed;
    top: 20px;
    left: 50%;
    margin-left: -150px;
    width: 300px;
    border: 2px solid #494949;
    color: #000000;
    background-color: white;
    padding: 10px;
    text-align: center;
    font-size: 1.2em;
}

#tabsContainer {
    width: 1000px;
}

#tabsContainer div *, #tabsContainer ul {
    padding: 0px;
    margin: 0px;
}

#tabsContainer ul li {
    list-style: none outside none;
    display: inline-block;
    position: relative;
    padding: 5px;
    margin-right: 2px;
    background-color: #98FB98;
    border-left: 1px solid #000000;
    border-top: 1px solid #000000;
    border-right: 1px solid #000000;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    cursor: pointer;
}

#tabsContainer ul li.tabs-active {
    background-color: #c4ffc9;
}

#tabPages {
    border: 1px solid black;
    background-color: white;
    margin: 0px;
}

#tabPages div {
    padding: 30px;
}

#tabPages div div {
    display: inline-block;
}

.leaderboard {
    float: left;
}

#tabsContainer div * td {
    padding: 8px 4px;
}