body {
    background-color: #e5f4ff;
}

#header {
    background-color: black;
    padding: 7px 0px;
    font-size: 1.1em;
}

#header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    top: auto;
    bottom: auto;
}

#header li {
    display: inline;
    margin: 0px 30px;
}

#header a {
    color: white;
    text-decoration: none;
}

#main {
    padding: 20px 0px;
}

#topmenu {
    display: inline-block;
}

#lang {
    display: inline-block;
    float: right;
    margin-right: 10px;
    font-size: 0.8em;
}

#accountMenu {
    display: inline-block;
    float: right;
    margin-right: 40px;
}

#username_accountMenu {
    font-weight: 700;
}

#logout_accountMenu {
    margin-left: 14px;
}

table {
    border: 0px;
    border-spacing: 0;
    border-collapse: collapse;
    border: 1px solid #dedede;
}

table thead {
    background-color: palegreen;
    font-weight: 700;
    text-align: left;
}

table tbody {
    background-color: white;
}

table tr {
    padding: 5px 0px;
}

table tbody tr:hover {
    background-color: #F4F4F4;
}

table td, table th {
    padding: 8px 4px;
    border-bottom: 1px solid #dedede;
}

.formDiv {
    background-color: #eeeeee;
    border: 1px solid #dedede;
    padding: 20px;
    width: 250px;
}

.formDiv label {
    font-weight: 700;
}

.formDiv input {
    font-weight: 700;
}

input[type=submit].button {
    display: block;
    background-color: #545cfe;
    border: 1px solid #000000;
    color: #FFFFFF;
    height: 30px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 6px;
}

.button {
    display: block;
    background-color: #545cfe;
    border: 1px solid #000000;
    color: #FFFFFF;
    width: 110px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    user-select: none;
}

.button:hover {
    background-color: #6d73fe;
}

.disabledButton {
    display: block;
    background-color: #cccccc;
    border: 1px solid #000000;
    color: #FFFFFF;
    width: 110px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    cursor: default;
}

.errorMessage {
    color: red;
    font-weight: 700;
}

#newsNavigator {
    width: 600px;
}

.newsNavigatorButton {
    display: inline-block;
    border: 1px solid #000000;
    width: 170px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    background-color: white;
    color:black;
}

.newsNavigatorButton:hover {
    background-color: #F4F4F4;
}

#noBotsFound{
    text-align: center;
}

.messageBox{
    display: block;
    position: fixed;
    top: 20px;
    left: 50%;
    margin-left: -150px;
    width: 300px;
    border: 2px solid #494949;
    color: #000000;
    background-color: white;
    padding: 10px;
    text-align: center;
    font-size: 1.2em;
}

#tabsContainer{
    width: 1000px;
}

#tabsContainer div *, #tabsContainer ul{
    padding: 0px;
    margin: 0px;
}

#tabsContainer ul li{
    list-style: none outside none;
    display: inline-block;
    position: relative;
    padding: 5px;
    margin-right: 2px;
    background-color: #98FB98;
    border-left: 1px solid #000000;
    border-top: 1px solid #000000;
    border-right: 1px solid #000000;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    cursor: pointer;
}

#tabsContainer ul li.tabs-active{
    background-color: #c4ffc9;
}

#tabPages{
    background-color: white;
    margin: 0px;
    height: 600px;
}

#tabPages div{
    padding: 30px;
}

#tabPages div div{
    display: inline-block;
}