body{
    background-color: #e5f4ff;
}

#header {
    background-color: black;
    font-size: 1.1em;
    padding: 7px 30px;
    color: white;
}

#header ul{
    list-style-type:none;
    margin:0;
    padding:0;
    vertical-align: middle;
    top:auto;
    bottom: auto;
}

#header li{
    display: inline;
    margin: 0px 30px;
}

#header a{
    color: white;
    text-decoration: none;
}

#main{
    padding: 20px 0px;
}

#topmenu{
    display: inline-block;
}

#lang{
    display: inline-block;
    float:right;
}